<div class="navbar container mx-auto">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl">Inventory App</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a href="/">Home</a></li>
      <li><a href="/createMovie">Create Movies</a></li>
      <li><a href="/publisher">Create Publisher</a></li>
      <li><a href="/category">Create Categories</a></li>
    </ul>
  </div>
</div>
